<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-language wow bounceIn text-primary"></i>
<!--                     <h3>Translation & Interpretation</h3> -->
                    <h3>笔译与口译</h3>
                    <ul class="custom-list">
<!--                     <li style="margin: 0; padding: 0; line-height: 1;">Translation (documents, books, e-mails, contracts, websites, different materials...etc.)</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Technical translation</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Transcription</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Proofreading and revision</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Interpretation</li> -->
                    <li style="margin: 0; padding: 0; line-height: 1;">在线/电话服务，帮助说中文和其他语言</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">翻译（文件，书籍，电子邮件，合同，网站，不同的材料...等。)</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">技术翻译</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">转录</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">校对和修改</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">口译</li>
                    </ul>
                         
                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
<!--                     <h3>Travel & Holiday</h3> -->
                    <h3>旅行和假期</h3>
<!--                     <p class="text-muted">Ticket and hotel booking in China and abroad</p>
                    <ol class="custom-list">
                    <li style="margin: 0; padding: 0; line-height: 1;">Train/flight tickets</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Hotel reservation</li>
                    <li style="margin: 0; padding: 0; line-height: 1;">Travel itinerary</li>
                    </ol> -->
                    <p class="text-muted">国内外机票和酒店预订</p>
                    <ol class="custom-list">
                    <li style="margin: 0; padding: 0;">火车票/机票</li>
                    <li style="margin: 0; padding: 0;">酒店预订</li>
                    <li style="margin: 0; padding: 0;">旅游行程</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
<!--                     <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".2s"></i>
<!--                     <h3>Real Estate Agency Services</h3> -->
                    <h3> 房地产代理服务</h3>
<!--                     <p class="text-muted">We assist you in your house hunting</p> -->
                    <p class="text-muted">我们协助您寻找房子</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
<!--                     <h3>House Cleaning & Maid services</h3> -->
                    <h3>保洁与保姆服务</h3>
<!--                     <p class="text-muted">Full time/Part time Ayis/Nannies</p> -->
                    <p class="text-muted">兼职与住家保姆</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
